@model SimplePhotoGallery.Models.GalleryImage

@{
    ViewBag.Title = "Edit";
}

<script>
    // this does a reload alright but it constantly triggers itself!
    // $(document).ready(function () {

   //     location.reload(true);
   // });

</script>

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>GalleryImage</legend>

        @Html.HiddenFor(model => model.GalleryImageId)

        @Html.HiddenFor(model => model.UrlPath)


        <div class="editor-label">
            @Html.LabelFor(model => model.Filename)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Filename)
            @Html.ValidationMessageFor(model => model.Filename)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Commentary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Commentary)
            @Html.ValidationMessageFor(model => model.Commentary)
        </div>
        @{
            // this will be true when the link is set to the original image: var pis = Model.ProcessedImages;
            //var imgURL = Model.UrlPath;
            //if (imgURL.StartsWith("~"))
            ///{
            ///    imgURL = imgURL.Substring(1);
            //}
    var imgURL = Url.Content(Model.UrlPath) + "?" + DateTime.Now.ToString();
            
        }
        <img src="@imgURL"  />

        <p>
            @{
                RouteValueDictionary param = new RouteValueDictionary();
                param["angle"] = 90.0;
                param["id"] = Model.GalleryImageId;
                
            }
            @Html.ActionLink("Rotate 90", "Rotate", "Images", param, null) 
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
